body {
  background: url(image.jpg)
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: #fff4ec;
  width: 420px;
  padding: 70px;
  border-radius: 8px;
  text-align: center;
   font-family: Arial, sans-serif;
}

.card h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #4b4b4b;
}
.card p {
  font-size: 20px;
  color: #6b6b6b;
  margin-bottom: 25px;
  line-height: 1.5;
}

.form {
  display: flex;
}

.form input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.form button {
  padding: 12px 18px;
  border: none;
  background: #f2b6a0;
  color: #333;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.form button:hover {
  background: #e8a68d;
}
